body {
  margin: 0;
  line-height: 1.5;
  text-transform: uppercase;
  background-color: #85C2D5;
    font-family: Helvetica, sans-serif
}
#FDM {
  color: white;
  font-weight: bold;
  font-size:12px;
}
#fancy {
  color:black;
  font-weight: bold;
  font-size:10px;
  text-align:center;
  vertical-align: middle;
  margin-top:120px;
}
#DH {
  color:white;
  font-size:48px;
  text-align:center;
  margin-top:10px;
  margin-bottom:10px;
  font-weight:bold;
}
#quote{
  font-weight:bold;
  border: 2px solid white;
  height: 25px;
  width: 170px;
  color: white;
  text-align:center;
  margin:auto;
  padding:4px;
  }